<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Web Assistant</title>
</head>
<body>
    <center><h1>Hi there! My name is [Assistant AI name].</h1></center>
    <div class="center"><br>

    <form name="search", action="." method="POST">
    <div class="input-group">

    <input type="text" name="btn" class="form-control"/>
    <input type="submit" value="submit"class="btn btn-primary" onclick="getInputValue()"></input>

    </div> 
  </form>


</body>
</html>