<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Web Assistant</title>
</head>
<body>
    <center><h1>Hi there! My name is [Assistant AI name].</h1></center>

    <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>


</body>
</html>