<!--
  Team Members: Jim O. Cabrera, Timothy Johnson, Andrea Sanchez, Geoffrey Vasaya
  Contributor Name: Jim Cabrera 
  Team: 26
  CST 205: Multimedia Design
  May 17, 2021 
  Abstract: The front end of the library app. This is where the books covers are displayed.
  Sources: https://www.youtube.com/watch?v=9MHYHgh4jYc&t=596s
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .center {
      margin: auto;
      width: 20%;
      padding: 10px;
    }

    body {
      background-color: lightyellow;
    }

    div{
      width: 500px;
    }
    </style>
  <br>
  <title>Library</title>
  <div id="apps"><a href="http://127.0.0.1:5000/"><img src="\static\home.png" width="50" height="50"/><p>Home</p></a></div>
</head>


<body>

  
  <center><h1>Welcome to the Library</h1></center>
  
  <!--Added form tag to make it look nice. It doesn't work-->
  <center><form action="#" method="post">
    <h3><input type="text" name="book" ><input type="submit" value= "submit"></input></h3>
  </form></center>
    
<!--I filtered the data by isbn but somehow I still kept getting errors, so I decided to filter by isbn once more
    and the errors went away.
-->
  {% for i in value %}
    {% if 'isbn' in value[i] %}
    
    <!--Modal was taken from bootstrap. I couldn't get the dictionary values to appear inside the modal
    and I took longer than I should to get them to spit out relevant information.-->
      <center><h4>{{value[i]['title']}}</h4></center>
      <div class="container" style="background-color: white;"></div>
      <center><button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModal"><img src="http://covers.openlibrary.org/b/isbn/{{value[i]['isbn'][0]}}-L.jpg" class="rounded" height="450" width="350"/></button>
      
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{value[i]['title']}}</h4> 
              </div>
              <div class="modal-body">
                <!--I attempted to try and open the webpage in the modal and this was the best I could do
                    In the end, the Iframe works but only outside the modal and the modal strangely only covers half the screen.-->
                <iframe src="https://openlibrary.org/works/{{ value[i]['text'][0]}}" title="Open Library" height="500" width="600"></iframe>

                 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
      </center>

      <!--The solution to keep data consistent and not all be the first value of the dictionary was 
          to place them outside of the modal and in a div container to kept them together. 
        -->
        <center>
           <h5>          
              Language: {{value[i]['language']}}<br>
              Publish date: {{value[i]['first_publish_year']}}<br> 
              Isbn: {{value[i]['isbn'][0]}} <br>
              
              <!--Link opens tab outside assignment!-->
              <a href="https://openlibrary.org/works/{{ value[i]['text'][0]}}" target="_blank">Click me to visit site</a></h5>
              
        </div><br><br>
        </center>
      {% endif %}

   {% endfor %}



<!--Apis taken from https://openlibrary.org/developers/api. 
1. Search API: For display results.
2. Covers API: For cover images
-->

</body>
</html>