<!--
  Contributor Name: Jim Cabrera
  Sources: https://www.youtube.com/watch?v=9MHYHgh4jYc&t=596s
-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .center {
      margin: auto;
      width: 20%;
      padding: 10px;
    }

    body {
      background-color: lightyellow;
    }
    </style>
  <br>
  <title>Library</title>
</head>


<body>
    <center><h1 class="display-1">Welcome to the library.</h1></center>
    <center>
        {% for i in value%}
          {% if 'cover_i' and 'isbn' in i%}

          <div class="container">
            <h3>{{ i.title }} {{i.publish_year}}</h3>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModal"><img src="http://covers.openlibrary.org/b/isbn/{{ i.isbn.0 }}-L.jpg" class="rounded" height="450" width="350"/></button>
          
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ i.title }}</h4>
                  </div>
                  <div class="modal-body">



                     



                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>
          {% endif %}
          <br><br>
        {% endfor %}
         




  </center>
</body>
</html>